section {
	text-align: center;
}

.storeTitle {
	line-height: 0.5rem;
}

.storeTitle p {
	font-size: 0.8rem;
}

.addPath select {
	width: 5rem;
	cursor: pointer;
}

.addPath button {
	width: 10rem;
	cursor: pointer;
}